.nav-bar {
    font-family: Tahoma;
    margin-top: 0px;
    background-color: lightgrey;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.icon {
    width: 100px;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    font-size: 14pt;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
}
